body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 100px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.menu {
    display: flex;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px;
    height: 60vh;
    width: 100vw;
}

.login-form {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input,
.login-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.image-gallery {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-gallery img {
    width: 30%;
    margin-bottom: 20px;
}
.set{
    width: 800px;
    margin-left: ;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .menu.show {
        display: flex;
    }

    .menu a {
        padding: 10px 0;
        width: 100%;
        box-sizing: border-box;
    }

    .menu-toggle {
        display: block;
    }
}
.footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
    margin-top: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 30%; /* Responsive layout for different screen sizes */
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}
#ba{
    background-color: #fff0e6;
}
#top-nav{
    font-size: 20px;
    color: black;
}
#top-nav:hover{
   color: #0d6efd;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 17px;
}
#carouselExampleCaptions{
    margin-top: 90px;
}
 .back-img{
    /* background-image: url('https://sultanchandfoundation.org/wp-content/uploads/2021/04/book.jpg'); */
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.lead{
    font-size: 20px;
}
#icon{
    color:#FF9933;
   font-size: 25px;    
    margin-left: 30px;
}
.img-fluid{
    height: 250px;
    width: 400px;
}
#back{
    background-color: #fff0e6;
}
#navbarDropdownMenuLink{
    font-size: 20px;
    /* margin-left: -1px; */
}
#footer{
    display: flex;
    justify-content: space-around;
}
#save{
  margin-top: 100px;
 
}
.background{
    background-color: #fff0e6;;
}
#fix{
    margin-top: 100px;
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 100%; /* Full width on smaller screens */
    }
}
@media (max-width: 36px) {
    .footer {
        /* flex: 1 1 100%; Full width on smaller screens */
        margin-top: 200px;
    }

}