<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.swastik.controlar.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBeneficiary</servlet-name>
        <servlet-class>com.swastik.controlar.AddBeneficiary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAccountOpen</servlet-name>
        <servlet-class>com.swastik.controlar.CustomerAccountOpen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>com.swastik.controlar.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferControl</servlet-name>
        <servlet-class>com.swastik.controlar.TransferControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchControlar</servlet-name>
        <servlet-class>com.swastik.controlar.BranchControlar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.swastik.controlar.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransfermoneyControlar</servlet-name>
        <servlet-class>com.swastik.controlar.TransfermoneyControlar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRegistrationController</servlet-name>
        <servlet-class>com.swastik.controlar.ManagerRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Normal</servlet-name>
        <servlet-class>com.swastik.controlar.Normal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLoginController1</servlet-name>
        <servlet-class>com.swastik.controlar.ManagerLoginController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeServlet</servlet-name>
        <servlet-class>com.swastik.controlar.EmployeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBeneficiary</servlet-name>
        <url-pattern>/AddBeneficiary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAccountOpen</servlet-name>
        <url-pattern>/CustomerAccountOpen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferControl</servlet-name>
        <url-pattern>/TransferControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchControlar</servlet-name>
        <url-pattern>/BranchControlar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransfermoneyControlar</servlet-name>
        <url-pattern>/TransfermoneyControlar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRegistrationController</servlet-name>
        <url-pattern>/ManagerRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Normal</servlet-name>
        <url-pattern>/Normal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLoginController1</servlet-name>
        <url-pattern>/ManagerLoginController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeServlet</servlet-name>
        <url-pattern>/EmployeServlet</url-pattern>
    </servlet-mapping>
</web-app>
