<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>com.project.controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisControl</servlet-name>
        <servlet-class>com.project.controller.RegisControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_DashboardController</servlet-name>
        <servlet-class>com.project.controller.User_DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_profile</servlet-name>
        <servlet-class>com.project.controller.Update_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>com.project.controller.UserLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationController</servlet-name>
        <servlet-class>com.project.controller.UserRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser_ProfileController</servlet-name>
        <servlet-class>com.project.controller.UpdateUser_ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCard</servlet-name>
        <servlet-class>com.project.controller.AddToCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCard</servlet-name>
        <servlet-class>com.project.controller.AddtoCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BooksAdd</servlet-name>
        <servlet-class>com.project.controller.BooksAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>com.project.controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCard1</servlet-name>
        <servlet-class>com.project.controller.AddtoCard1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisControl</servlet-name>
        <url-pattern>/RegisControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_DashboardController</servlet-name>
        <url-pattern>/User_DashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_profile</servlet-name>
        <url-pattern>/Update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/UserLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationController</servlet-name>
        <url-pattern>/UserRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser_ProfileController</servlet-name>
        <url-pattern>/UpdateUser_ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCard</servlet-name>
        <url-pattern>/AddToCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCard</servlet-name>
        <url-pattern>/AddtoCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BooksAdd</servlet-name>
        <url-pattern>/BooksAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCard1</servlet-name>
        <url-pattern>/AddtoCard1</url-pattern>
    </servlet-mapping>
</web-app>
